
<h3>
  Coaching individuel gratuit avec un architecte.
</h3>

<p>
  Vous avez un projet de travaux ou d’aménagement chez vous ? Vous aimeriez être conseillé par un architecte ?
</p>

<p>
  Les architectes de l’association Architectes & Particuliers seront présents pendant le salon dans notre espace Coaching pour vous proposer des rendez-vous de 30 minutes, gratuits, afin de répondre à toutes vos questions.
</p>

<p>
  Pour vous inscrire à un coaching, inscrivez-vous au salon et choisissez ensuite le créneau de rendez-vous qui vous arrange. Attention les places sont limitées !
</p>

<div class="list">
  <ul class="check-list">
    <li *ngFor="let coaching of coachingList"> {{coaching}}</li>
  </ul>
</div>

